#wrapper {
	margin: 0 auto;
	width: 800px;
	border: 1px grey solid;
	font-family: courier;
}

h1 {
	font-style: underline;
	text-align: right;
}

section {
	width: 0 auto;
	border: 1px blue solid;
}

article {
	text-align: center;
}

