#wrapper {
	margin: 0 auto;
	width: 800px;
	border: 1px grey solid;
	font-family: courier;
}

h1 {
	font-style: underline;
	text-align: right;
	padding-right: 5px;
}

nav {
	padding-left: 5px;
	height: 25px;
}

section {
	width: 250px;
	border: 1px blue solid;
	margin-left: 35%;
    text-align: center;
}

article {
	text-align: center;
}

footer {
	font-family: helvetica;
	font-size:10px;
	text-align: left;
}

nav a:hover {
	background-color: pink;
	font-size: 20px;
}

